.info-window-con {
  width: 110%;
  height: 50%;
  text-align: center;
  padding: 2%;
}
.info-details {
  color: black;
  letter-spacing: 1px;
  padding: 1% 0;
  font-family: Helvetica;
}
.info-deaths {
  color: red;
  letter-spacing: 1px;
  padding: 1% 0;
  font-family: Helvetica;
}
.info-recovered {
  color: green;
  letter-spacing: 1px;
  padding: 1% 0;
  font-family: Helvetica;
}
